pkgbase = potato
	pkgdesc = A pomodoro timer for the shell
	pkgver = 6
	pkgrel = 1
	url = https://github.com/RixxLx/potato
	arch = any
	license = MIT
	depends = alsa-utils
	source = potato.sh
	source = notification.wav
	source = LICENSE
	md5sums = 72e15b3cc9be3d2fd709d456360248c4
	md5sums = 4d9c161c8ca4698be1404d8db25cf163
	md5sums = 1ddcbd2862764b43d75fb1e484bf8912

pkgname = potato
